<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-body">
        <%= form_for @post, :html => {:multipart => true, :class => "upload-images p-0 border-0"} do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <%= image_tag avatar_url(current_user), class: "post-author-icon" %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :content, class: "form-control border-0",
                placeholder: "What's on your mind, #{current_user.name}?" %>
            </div>
          </div>

          <div class="fileUpload btn btn-info">
            <i class="far fa-images"></i>
            <%= file_field_tag "images[]", type: :file, multiple: true, class: "input_upload" %>
          </div>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div id="posts">
      <%= render 'posts_list' %>
    </div>
  </div>
  <br>
  <%= will_paginate @posts %>
</div>